bucket         = "secure-s3-transfer-tf-state-<unique>"
key            = "envs/prod/terraform.tfstate"
region         = "ap-southeast-2"
dynamodb_table = "secure-s3-transfer-prod-tfstate-lock"
encrypt        = true
profile        = "Developer"
